.container {
  max-width: 980px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.sortedByttons {
  display: flex;
  border: unset;
}

.columns {
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: end;
}
